/* debug */

.cs-border-primary {
    border: dashed 1px orange;
}

.cs-border-secondary {
    border: dashed 1px red;
}

.cs-border-tertiary {
    border: dashed 1px blue;
}

.cs-border-fourth {
    border: dashed 1px green;
}

/************* utilities **************/

.bg-light-blue {
    background-color: #1b72e8;
}

.bg-blue {
    background-color: #165bba;
}


/************* HEADER **************/ 

header {
    height: 100px;
    position: sticky;
    
}

header #logoSmall {
    width: 50px;
}

.myInput {
    background-color: #e5e5e5;
    border: transparent;
}

.myInput::placeholder {
    font-size: .9rem;
    font-weight: 600;
}

.fa-magnifying-glass {
    position: absolute;
    left: 20px;
    top: 10px;
}

/*********** Main ************/

.myMainSection {
    height: calc(100vh - 100px);
    overflow: auto;
}

.myBadge {
    font-size: .8rem;
    font-weight: 500;
    margin: 0 .2rem;
}


/************ table *************/

#myCardsSection th, td {
    text-align: center;
}

#myCardsSection section {
    padding: 1rem 0;
}

.avatar-table {
    width: 35px;
    margin-right: .3rem;
}

/******* FAQ *******/

.my-title-card {
    font-weight: 600;
}

/*********** Sidebar ************/

.mySideBar {
    background-image: url(../img/sidebar-bg.png);
    background-color: #142a40;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 1.2rem 0;
}

.mySideBar.Small {
    width: 80px;
    align-items: center;
}

.mySideBar.Big {
    width: 140px;
}
.mySideBar i {
    margin: .7rem .8rem;
}


/************ RESPONSIVE **************/

/** cells table **/

@media screen and (min-width:768px)  {
    #myCardsSection .bigCells {
        width: 40%;
    }
}

@media screen and (min-width:1200px)  {
    #myCardsSection .bigCells {
        width: 50%;
    }
}